<h1>
  {{title}}
</h1>
<div> 
    months:
   <select>
     <option *ngFor='let i of months'>{{i}}</option>
   </select>
 </div>
 <br/>
 <div>
    <span *ngIf="isavailable; then condition1 else condition2">Condition is valid.</span>
    <ng-template #condition1>Condition is invalid</ng-template>
    <ng-template #condition2>Condition is invalid, AGAIN</ng-template>
 </div>
 <div>
  <span appChangeText >Welcome to {{title | uppercase}}.</span>
 </div>

 <div>
    
    <app-new-comp></app-new-comp>
    <hr>

    <app-simple-form></app-simple-form>

    <hr>
    <b>Square root of 25 is: {{25 | sqrt}}</b>
    {{api}}
    <hr>
</div>
<a routerLink = 'new-comp'>New component</a>
<router-outlet></router-outlet>
<hr>
<p>Displaying JSON data below</p>
<ul *ngFor = "let data of httpdata">
  <li>Name : {{data.name}} Address: {{data.address.city}}</li>
</ul>
<hr>
<p>Using converttoarray</p>
<h1>{{name}}</h1>
